apiVersion: apps/v1
kind: Deployment
metadata:
  name: coturn
  namespace: coturn
  labels:
    app: coturn
spec:
  replicas: 2
  selector:
    matchLabels:
      app: coturn
  template:
    metadata:
      labels:
        app: coturn
    spec:
      containers:
        - name: coturn
          image: coturn/coturn:4.6.2
          ports:
            - containerPort: 3478
              name: turn-udp
            - containerPort: 3478
              name: turn-tcp
              protocol: TCP
            - containerPort: 5349
              name: turn-tls
              protocol: TCP
            - containerPort: 7478
              name: turn-udp-relay
            - containerPort: 7479
              name: turn-tcp-relay
              protocol: TCP
          args:
            - -a
            - -v
            - --listening-port=3478
            - --tls-listening-port=5349
            - --external-ip=$(POD_IP)
            - --realm=overeazy.io
            - --auth-secret=$(TURN_SECRET)
            - --no-cli
            - --no-tcp-relay
            - --no-udp-relay
            - --stale-nonce
            - --max-bandwidth=100000
            - --total-quota=100000
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: TURN_SECRET
              valueFrom:
                secretKeyRef:
                  name: coturn-secret
                  key: secret
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: coturn
  namespace: coturn
spec:
  selector:
    app: coturn
  ports:
    - port: 3478
      targetPort: 3478
      name: turn-udp
      protocol: UDP
    - port: 3478
      targetPort: 3478
      name: turn-tcp
      protocol: TCP
    - port: 5349
      targetPort: 5349
      name: turn-tls
      protocol: TCP
    - port: 7478
      targetPort: 7478
      name: turn-udp-relay
      protocol: UDP
    - port: 7479
      targetPort: 7479
      name: turn-tcp-relay
      protocol: TCP
  type: ClusterIP
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: coturn-pdb
  namespace: coturn
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: coturn
