apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yaml: |
    entryPoints:
      web:
        address: ":80"
      websecure:
        address: ":443"
        http:
          tls:
            enabled: true
            certResolver: myresolver
            domains:
              - main: "${DOMAIN_BASE}"
                sans:
                  - "*.${DOMAIN_BASE}"
    providers:
      kubernetesIngress:
        enabled: true
        ingressClass: traefik
        allowExternalNames: true
      kubernetesCRD:
        enabled: true
    api:
      insecure: true
      dashboard: true
    metrics:
      prometheus:
        entryPoint: web
    log:
      level: INFO
    accessLog:
      format: json