version: '3'

services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USERMAP_UID=1000
      - USERMAP_GID=1000
    restart: unless-stopped
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "2222:22"
    depends_on:
      - database
    networks:
      - gitea-network

  database:
    image: postgres:13
    container_name: gitea-db
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
      - POSTGRES_DB=gitea
    restart: unless-stopped
    volumes:
      - ./db:/var/lib/postgresql/data
    networks:
      - gitea-network

networks:
  gitea-network:
    driver: bridge
