# k3s Cluster Setup Playbook
# Sets up the k3s cluster and joins worker nodes

---
- name: Setup k3s cluster
  hosts: control_plane
  become: yes
  vars:
    k3s_config_dir: "/etc/rancher/k3s"
    k3s_data_dir: "/var/lib/rancher/k3s"
  
  tasks:
    - name: Get k3s server token
      command: cat /var/lib/rancher/k3s/server/node-token
      register: k3s_token_result
      changed_when: false
      failed_when: false

    - name: Display k3s token
      debug:
        msg: "k3s server token: {{ k3s_token_result.stdout }}"

    - name: Wait for control plane to be ready
      command: k3s kubectl get nodes -o json
      register: k3s_nodes
      changed_when: false
      failed_when: false
      retries: 10
      delay: 10
      until: "'Ready' in (k3s_nodes.stdout | from_json | json_query('items[*].status.conditions[?type==`Ready`].status') | flatten | join(','))"

    - name: Configure k3s cluster
      command: k3s kubectl apply -f /etc/rancher/k3s/cluster-config.yaml
      args:
        chdir: /etc/rancher/k3s
      when: ansible_host is defined

    - name: Get cluster information
      command: k3s kubectl cluster-info
      register: cluster_info
      changed_when: false
      failed_when: false

    - name: Display cluster info
      debug:
        msg: "Cluster info: {{ cluster_info.stdout }}"

- name: Join worker nodes to cluster
  hosts: worker_nodes
  become: yes
  vars:
    k3s_config_dir: "/etc/rancher/k3s"
    k3s_data_dir: "/var/lib/rancher/k3s"
  
  tasks:
    - name: Join worker node to cluster
      command: |
        curl -sfL https://get.k3s.io | sh -s - agent \
          --server https://{{ groups['control_plane'][0] }}:6443 \
          --token {{ hostvars[groups['control_plane'][0]]['k3s_token_result'].stdout }}
      args:
        executable: /bin/bash
        creates: "{{ k3s_data_dir }}/agent/kubelet.sock"
      when: groups['control_plane'] | length > 0

    - name: Wait for worker node to be ready
      command: k3s kubectl get nodes -o json
      register: k3s_nodes
      changed_when: false
      failed_when: false
      retries: 10
      delay: 10
      until: "'Ready' in (k3s_nodes.stdout | from_json | json_query('items[*].status.conditions[?type==`Ready`].status') | flatten | join(','))"
      delegate_to: "{{ groups['control_plane'][0] }}"
