# k3s Installation Playbook
# Installs k3s on all nodes

---
- name: Install k3s on Proxmox VMs
  hosts: proxmox_vms
  become: yes
  vars:
    k3s_version: "v1.28.0+k3s1"
    k3s_install_url: "https://get.k3s.io"
    k3s_install_dir: "/usr/local/bin"
    k3s_config_dir: "/etc/rancher/k3s"
    k3s_data_dir: "/var/lib/rancher/k3s"
  roles:
    - k3s

- name: Join Cloud Nodes to Cluster
  hosts: cloud_nodes
  become: yes
  vars:
    k3s_version: "v1.28.0+k3s1"
    k3s_install_url: "https://get.k3s.io"
  roles:
    - cloud-join

- name: Install k3s on Proxmox LXC
  hosts: proxmox_lxc
  become: yes
  vars:
    k3s_version: "v1.28.0+k3s1"
    k3s_install_url: "https://get.k3s.io"
    k3s_install_dir: "/usr/local/bin"
    k3s_config_dir: "/etc/rancher/k3s"
    k3s_data_dir: "/var/lib/rancher/k3s"
    # LXC specific variables if needed
    k3s_install_args: "--kubelet-arg=feature-gates=KubeletInUserNamespace=true"
  roles:
    - k3s
