[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/k3s
ExecStartPre=/bin/sh -xc 'trap exit TERM; while ! /usr/bin/systemctl is-active network.target; do sleep 1; done'
ExecStart=/usr/local/bin/k3s server {{ k3s_server_args | join(' ') }}
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/rancher/k3s
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
