apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
  labels:
    app: cloudflared
spec:
  replicas: 3
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:2025.11.1
          command:
            - cloudflared
            - tunnel
            - run
            - --config
            - /etc/config.yaml
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config
              mountPath: /etc/config.yaml
              subPath: config.yaml
            - name: credentials
              mountPath: /etc/cred.json
              subPath: cred.json
      volumes:
        - name: config
          configMap:
            name: cloudflared-config
        - name: credentials
          secret:
            secretName: cloudflared-credentials
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  selector:
    app: cloudflared
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cloudflared-pdb
  namespace: cloudflared
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: cloudflared
